body{
    background-color: rgb(231,224,255);
}

.header_img{
    background-image: url("../images/header.jpg");
    background-size: contain;
}

#title{
    text-align: center;
    background:white;
    color: black;
    margin: 0 0 0 0;
    margin-bottom: 0px;
    font-family: 'Play', sans-serif;
    font-size: 2.5vw;
}

.title_noPadding{
    padding-left: 0%;
    padding-right: 0%;
}

.header_msg{
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 2.5vw;
    color: rgb(252,223,69);
}

.damage_msg{
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 1.5vw;
    color: rgb(252,223,69);
}

.image_content {
    height: 7vw;
    width: 7vw;
    border: 0vw solid;
    margin: 0 1% 0 3%;
    border-top-color: #ffee00;
    border-right-color: #ffee00;
    border-bottom-color: #8d9246;
    border-left-color: #8d9246;
}

.row{
    margin-right: 0px;
}

.figtherImage{
    height: 20vw;
    width: 15vw;
}

.vsImage{
    height: 10vw;
    width: 10vw;
}


