body{
    background-color: rgb(231,224,255);
    font-family: 'Play', sans-serif;
}

.header_img{
    background-image: url("../images/header.jpg");
    background-size: contain;
}

#title{
    text-align: center;
    background:white;
    color: black;
    margin: 0 0 0 0;
    margin-bottom: 0px;
    font-family: 'Play', sans-serif;
    font-size: 2.5vw;
}

.titlePlayers{
    text-align: center;
}

.title_noPadding{
    padding-left: 0%;
    padding-right: 0%;
}

#wins_p1, #wins_p2,#looses_p1,#looses_p2{
    font-family: 'Play', sans-serif;
    font-size: 2vw;
}

